@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --gray: #333;
  --green: #00a63d; /* تم تغيير اللون فقط */
  --light-gray: #edeef0;
}

body{ 
  font-family: "Poppins", sans-serif;
}

.continer {
  background-color: #333;
  min-height: 100vh;
  padding: 10px;
}

.todo-list {
  background-color: #fff;
  max-width: 560px;
  margin: 90px auto 20px;
  padding: 40px 38px;
  border-radius: 10px;
}

.todo-list h1 {
  margin-bottom: 10px;
  color: var(--green);
}

form input {
  padding: 15px;
  background-color: var(--light-gray);
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 80%;
  margin-right: 5px;
}

form button {
  border: none;
  padding: 12px 30px;
  background-color: var(--green);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;
}

form button:hover {
  background-color: rgba(0,166,61,0.8);
  transform: scale(1.03);
}

form button:disabled {
  background-color: #b2dfb8; 
  color: #eee;
  cursor: not-allowed;
  transform: none;
}

.del {
  color: rgba(80, 80, 80, 0.6);
  font-size: 23px !important;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.del:hover {
  scale: 1.1;
  color: rgba(255, 0, 0, 0.815);
  transform: rotate(4deg);
}

.upd {
  color: rgba(0, 166, 61, 0.7); /* أخضر بدل teal */
  font-size: 22px !important;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.upd:hover {
  scale: 1.1;
  color: var(--green);
}

.filter-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  border-bottom: 0.5px solid rgba(102, 102, 102, 0.135);  
  padding-bottom: 10px ;
  margin-bottom: 15px;
}

.filter-btns button {
  padding: 6px 14px;
  font-size: 13px;
  border: 1px solid #b6e1b6;
  border-radius: 6px;
  background-color: #d4f8d4; 
  color: rgb(64, 163, 64); 
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
  display: flex;
  align-items: center;
}

.filter-btns button:hover {
  background-color: rgba(0, 166, 61, 0.2);
  transform: scale(1.02);
}

.filter-btns button:focus {
  outline: none;
  background-color: rgba(0,166,61,0.4);
}

.filter-btns button.active {
  outline: none;
  background-color: rgba(0, 117, 59, 0.425);
  border-color: var(--green);
}

.badge {
  color: var(--green);
  font-size: 13px;
  font-weight: bold;
  margin-left: 3px;
}

.task-count {
  font-size: 14px;
  background: #f3f3f3;
  color: #555;
  padding: 4px 8px;
  border-radius: 6px;
}

.check {
  background-color: #fff;
  border: 1px solid rgba(0, 166, 61, 0.7);
  height: 17px !important;
  width: 17px !important;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

.check.active {
  background-color: var(--green); 
  color: #fff;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.053);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.listItem:last-child {
  border-bottom: none;
}

ul {
  /* height: auto; */
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

ul::-webkit-scrollbar {
  display: none;
}



@media (max-width: 600px ) {
  .todo-list h1 {
    font-size: 30px;
  }

  form {
    display: flex;
    width: 100%;
  }

  form input {
    padding: 10px;
  }
  form input::placeholder {
    font-size: 12px;
  }

  form button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .filter-btns button {
    padding: 5px 6px;
    font-size: 12px;
    color: rgb(9, 141, 9);
  }

  .badge {
    font-size: 11px;
    margin-left: 4px;
  }

  .check {
    height: 17px !important;
    width:  17px !important;
  }

  .listItem {
    margin-bottom: 20px;
  }
  
  li span {
    font-weight: 500 !important;
    font-size: 15px;
  }

  .filter-btns {
    width: 100%;
    gap: 10px;
    border-bottom: none;
    margin: 20px 0;
  }

  .todo-list {
    margin: 0;
    width: 100%;
    height: 100vh; 
    padding: 25px;
    display: flex;
    flex-direction: column;
  }

  ul {
    flex: 1; 
    overflow-y: auto;
    scrollbar-width: none;
  }
  ul::-webkit-scrollbar {
    display: none;
  }

  .upd {
    font-size: 20px !important;
  }
  .del {
    font-size: 23px !important;
  }
}
